<div class="container">
  <h1>New User Form</h1>
  <form>
    <div class="form-group">
      <label for="name"></label
      >Name<input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="username"></label
      >Username<input type="text" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="email"></label
      >Email<input type="text" name="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="phone"></label
      >Phone<input type="text" name="phone" class="form-control" />
    </div>
    <div class="form-group">
      <label for="website"></label
      >Website<input type="text" name="website" class="form-control" />
    </div>
    <hr>
    <pre>

    </pre>
    <hr>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
