<div class="container">
  <h1>New User Form</h1>
  <form #userForm="ngForm" (ngSubmit)="submit(userForm)">
    <div class="form-group">
      <label for="name"></label
      >Name<input #name="ngModel" pattern="John Doe" required minlength="8" maxlength="20" type="text" name="name" class="form-control" ngModel/>
    </div>
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
      <p *ngIf="name.errors.required">Name is required</p>
      <p *ngIf="name.errors.minlength">Name must be at least 8 characters long</p>
      <p *ngIf="name.errors.maxlength">Name can be at max 20 characters long</p>
      <p *ngIf="name.errors.pattern">Name must only be John Doe</p>
    </div>
    <div class="form-group">
      <label for="username"></label
      >Username<input type="text" name="username" class="form-control" ngModel/>
    </div>
    <div class="form-group">
      <label for="email"></label
      >Email<input type="text" name="email" class="form-control" ngModel/>
    </div>
    <div class="form-group">
      <label for="phone"></label
      >Phone<input type="text" name="phone" class="form-control" ngModel/>
    </div>
    <div class="form-group">
      <label for="website"></label
      >Website<input type="text" name="website" class="form-control" ngModel/>
    </div>
    <hr>
    <pre>

    </pre>
    <hr>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>
