<h3>Basic Buttons</h3>

<button mdbBtn type="button" color="primary" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" mdbWavesEffect>Danger</button>

<h3>Additional Buttons</h3>

<button mdbBtn type="button" color="elegant" mdbWavesEffect>Elegant</button>
<button mdbBtn type="button" color="unique" mdbWavesEffect>Unique</button>
<button mdbBtn type="button" color="pink" mdbWavesEffect>Pink</button>
<button mdbBtn type="button" color="purple" mdbWavesEffect>Purple</button>
<button mdbBtn type="button" color="deep-purple" mdbWavesEffect>
  Deep-Purple
</button>
<button mdbBtn type="button" color="indigo" mdbWavesEffect>Indigo</button>
<button mdbBtn type="button" color="light-blue" mdbWavesEffect>
  Light-blue
</button>
<button mdbBtn type="button" color="cyan" mdbWavesEffect>Cyan</button>
<button mdbBtn type="button" color="dark-green" mdbWavesEffect>
  Dark-Green
</button>
<button mdbBtn type="button" color="light-green" mdbWavesEffect>
  Light-green
</button>
<button mdbBtn type="button" color="yellow" mdbWavesEffect>Yellow</button>
<button mdbBtn type="button" color="amber" mdbWavesEffect>Amber</button>
<button mdbBtn type="button" color="deep-orange" mdbWavesEffect>
  Deep-Orange
</button>
<button mdbBtn type="button" color="brown" mdbWavesEffect>Brown</button>
<button mdbBtn type="button" color="blue-grey" mdbWavesEffect>Blue-Grey</button>
<button mdbBtn type="button" color="mdb-color" mdbWavesEffect>MDB</button>

<h3>Gradient Buttons</h3>

<button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect>
  Peach
</button>
<button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>
  Purple
</button>
<button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>
  Blue
</button>
<button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>
  Aqua
</button>

<h3>Floating Buttons</h3>

<a mdbBtn floating="true" size="lg" gradient="purple" mdbWavesEffect>
  <mdb-icon fas icon="bolt"></mdb-icon>
</a>
<a mdbBtn floating="true" gradient="peach" mdbWavesEffect>
  <mdb-icon fas icon="leaf"></mdb-icon>
</a>
<a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect>
  <mdb-icon fas icon="star"></mdb-icon>
</a>

<h3>Buttons with icons</h3>

<button mdbBtn type="button" color="primary" mdbWavesEffect>
  <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Left
</button>
<button mdbBtn type="button" color="default" mdbWavesEffect>
  Right<mdb-icon fas icon="magic" class="ml-1"></mdb-icon>
</button>
