div {
  height: 400px;
  width: 400px;
}

.blue-gradient {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.red-gradient {
  background: linear-gradient(141deg, #f857a6 0%, #ff5858 75%);
}
