<!-- <div class="styled">

<h1>Hello World!</h1>
<p>This is a paragraph</p>
<app-chat></app-chat>
<app-users></app-users>

</div> -->

<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<h1>@Input</h1>
<app-hello [name]="title"></app-hello>
<app-hello name="{{title}}"></app-hello>
<hr>
<h1>@Output</h1>
<p>Current value of the Counter is <span [class]="classToSet">{{ counter }}</span></p>
<app-counter-actions [(counter)]="counter"></app-counter-actions>
<hr>
<input type="text" [(ngModel)]="title">
<p>{{ title }}</p>
